# -*- sh -*-
# you may or may not want this:
source_env_if_exists "$HOME"/.envrc
echo "direnv: setting up python environment, this will take a few minutes the first time"
uv venv --clear
source_env .venv/bin/activate
uv sync
