# -*- sh -*-
# you may or may not want this:
source_env_if_exists "$HOME"/.envrc

echo "direnv: setting up python environment, this will take a few minutes the first time"

layout python python3.11
pip --quiet install --upgrade pip
python -m pip --quiet install -r requirements.txt
